*.txt
*.log
*.twb
*.twbx
*.twbr
*.DOCX
*.XLSX
connection.py
**/__pycache__
**/.vscode
/Data
.vscode
CER.py
CER_CONN.py 
NEB_DM_PROD - 1240480 - Pipeline Transportation System report  Outline.DOCX
2020_Pipeline_System_Report_-_Negotiated_Settlements_and_Toll_Indicies.XLSX
NEB_DM_PROD - 1267261 - Financial Resource Types - Data.XLSX
node_modules