.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.header {
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #container_fin_resources {
  min-height: 100%;
}

#container_fin_resources_class {
  min-height: 100%;
} */

#traffic_title{
  font-family: Arial;
  font-weight: bold;
  font-size: large;
}
