.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
}

.dropdown-menu {
  max-height: 200px;
}

.legend_title {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: small;
  color: #871455;
}

.header {
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure_title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  color: dimgray;
}

.my-row-border {
  border: 1px solid black;
}

.my-col-border {
  border: 1px solid black;
}

.my-container-border {
  border: 1px solid black;
}

.chart-small {
  max-width: 400px;
  margin: auto;
}

.container-chart-small {
  max-height: 400px;
}

.chart-medium {
  max-width: 800px;
  margin: auto;
}

.container-chart-medium {
  max-height: 400px;
}

.chart-large {
  max-width: 1100px;
  margin: auto;
}

.container-chart-large {
  min-height: 400px;
}

.chart-map {
  max-width: 1000px;
  margin: auto;
}

.container-chart-map {
  min-height: 700px;
}

.chart-insert {
  max-width: 700px;
  margin: auto;
}

.container-chart-insert {
  height: 300px;
}

.container-chart-ratings {
  height: 550px;
}

.container-legend {
  text-align: center;
}
/* #ratings_year_title {
  display: inline-block;
} */

/* these selectors help to visualize the bootstrap grid */
/* .my-row {
  border: 3px solid red;
}
.my-col {
  border: 3px solid blue;
} */
