.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
}
.form-control {
  min-width: 200px;
  max-height: 85px;
}
.legend_title {
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: small;
  color: #871455;
}
.header {
  font-family: Arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure_title {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  color: dimgray;
}
.my-container-border {
  border: 1px solid black;
}
#container-instructions {
  height: 290px;
}
.chart-small {
  max-width: 400px;
  margin: auto;
}
.chart-insert {
  max-width: 700px;
  margin: auto;
}
.chart-medium {
  max-width: 800px;
  margin: auto;
}
.chart-large {
  max-width: 1100px;
  margin: auto;
}
.chart-map {
  max-width: 1000px;
  margin: auto;
}
#container_abandonment_totals {
  height: 200px;
}
.container-chart-xs {
  height: 250px;
}
.container-chart-small {
  max-height: 400px;
}
.container-chart-medium {
  max-height: 400px;
}
.container-chart-large {
  height: 390px;
}
.container-chart-settlements {
  min-height: 400px;
}
.container-chart-map {
  min-height: 700px;
}
.container-chart-insert {
  height: 300px;
}
.container-chart-ratings {
  height: 450px;
}
.container-legend {
  text-align: center;
}
/* styling for custom tabs */
.tab-container-tr {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}
/* Style the tab */
.tab-tr {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 50;
  list-style: none;
}
/* Style the buttons inside the tab */
.tab-tr button {
  background-color: inherit;
  max-width: 300px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab-tr button:hover {
  text-align: center;
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab-tr button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent-tr {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#btn-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 110px;
  z-index: 99;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btn-to-top:hover {
  background-color: #ccc;
}
