.row {
  border: 3px solid red;
}
.col {
  border: 3px solid blue;
}

.text-center {
  text-align: center;
}

.chart-small {
  max-width: 400px;
  margin: auto;
}

.container-chart-small {
  max-height: 400px;
}

.chart-medium {
  max-width: 700px;
  margin: auto;
}

.container-chart-medium {
  max-height: 400px;
}

.chart-large {
  max-width: 1000px;
  margin: auto;
}

.container-chart-large {
  min-height: 400px;
}

.chart-map {
  max-width: 1000px;
  margin: auto;
}

.container-chart-map {
  min-height: 700px;
}
